html,body {
  height:100%;
  margin: 0px;
  width: 100%;
  background-image: url("photos/Marathon Logo_White.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


#top-portion {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#slideshow img {
  height:auto;
  width: 31%;
  float:left;
}

#poster img{
  float: left;
  width: 20.8%;
}

#floor img {
  float: left;
  width: 31.6%;
}

#weather {
  margin: 0px;
}

#weather img {
  float: left;
  margin-left: 5px;
  margin-top: 20px;
  width: 15%;
}

#bottom-portion {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#bottom-portion img {
  width: 26%;
  margin-left: 10px;
  float: left;
  height:auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#outlook iframe {
  height:635px;
  width:66%;
  float: left;
  margin-left: 50px;
  margin-top: 6px;
}

.slide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
