* {
  box-sizing: border-box;


}

/*===============RESPONSIVE TO SCREEN SIZE==================*/
@media screen and (max-width: 1920px) {
    body {
        height: 1064px;
        width: 1910px;
        /* beige */
        background-color: #f1eee5;
    }
}

@media screen and (max-width: 1600px) {
    body {
        height: 884px;
        width: 1580px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        height: 1024px;
        width: 1280px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .columnSide {
      width: 100%;
    }
}

/*=================ROWS================*/
.row-Top, .row-Bottom {
    height: 45%;
    width: 100%;
    padding-right: .5%;
}

.row-Top, .columnSide,  {
    min-height: 50%;
    max-height: 50%;
}

/* Clear floats after the columns */
.row-Bottom, .row-Top:after {
    display: table;
    clear: both;
}

/*=================BOTTOM COLUMNS================*/
/* Create three equal columns that floats next to each other */
.columnLeft {
    float: left;
    width: 30.33%;
    align-items: center;
}
.columnMiddle {
    float: left;
    width: 50.33%;
    align-items: center;
}

.columnRight {
    float: left;
    width: 19.33%;
    max-height: 50%;
    min-height: 25%;
}

.columnRight a {
  align-items: center;
}

/*=================ELEMENTS================*/

#announcements,
#calendar {
    min-height: 100%;
    max-height: 100%;
    float: left;
}

#announcements {
    width: 30%;

}

#calendar {
    width: 70%;
    height: 100%;
}

a img {
    width: 97.4%;
}
img {
    width:100%;
    height: 100%;
}

.marqueeText {
    padding: .7%;
    height: 8%;
    overflow: hidden;
    position: relative;
}

.marqueeText h3 {
    background-color: none;
    font-size: 3em;
    color: black;
    font-family: tahoma;
    /* text-shadow: 2px 2px black; */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
 /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
 /* Apply animation to this element */
    -moz-animation: marqueeText 30s linear infinite;
    -webkit-animation: marqueeText 30s linear infinite;
    animation: marqueeText 30s linear infinite;
}

/*=================ANIMATION================*/
/* Move it (define the animation) */
@-moz-keyframes marqueeText {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marqueeText {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes marqueeText {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
         }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
         }
}
