html,body {
  height:100%;
  margin: 0;
  width: 100%
}

#outlook iframe {
  height:700px;
  width:70%;
  float: left;
}

#newsletter iframe {
  height:700px;
  width:29.5%;
  float: right;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

#slideshow {
  margin-left: 1px;
  float: left;
   height:auto;
   width: 29%;
}

.slide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
